Repository overspend1/corestate, changes with the owners that .github/CODEOWNERS names for each.
All owners: @YourGitHubUsername, @android-team, @web-team, @backend-team, @kernel-team, @ml-team, @devops-team

feat: Implement all core features for v2.0
  apps/android/shared/src/commonMain/kotlin/sync/P2PSyncManager.kt
  ml/models/anomaly_detection/anomaly_detector.py
  ml/models/backup_prediction/backup_predictor.py
  module/native/fs_monitor/block_tracker.cpp
  module/native/hw_acceleration/hsm_integration.cpp
  module/native/snapshot_manager/cow_snapshot.cpp
  services/analytics-engine/build.sbt
  services/analytics-engine/src/main/scala/streaming/BackupAnalytics.scala
  services/backup-engine/src/main/java/com/corestate/backup/enterprise/MultiTenantManager.java
  services/backup-engine/src/main/kotlin/com/corestate/backup/distributed/ChunkDistributor.kt
  services/backup-engine/src/main/kotlin/com/corestate/backup/strategies/SyntheticBackup.kt
  services/storage-hal/Cargo.toml
  services/storage-hal/build.rs
  services/storage-hal/src/erasure_coding.rs
  services/storage-hal/src/main.rs
  services/sync-coordinator/package.json
  services/sync-coordinator/src/crdt/backup-state.ts
  services/sync-coordinator/src/index.ts
  services/sync-coordinator/tsconfig.json
  shared/proto/storage.proto
Owners: @android-team, @ml-team, @kernel-team, @backend-team, @YourGitHubUsername

fix(ci): Correct syntax error in release workflow
  .github/workflows/release-orchestration.yml
Owners: @YourGitHubUsername

chore(ci): Simplify workflow trigger for diagnostics
  .github/workflows/release-orchestration.yml
Owners: @YourGitHubUsername

fix(ci): overhaul release workflow for correctness and functionality
  .github/workflows/release-orchestration.yml
Owners: @YourGitHubUsername

fix(build): correct build configurations for all services
  apps/daemon/Cargo.toml
  apps/web-dashboard/public/index.html
  build.gradle.kts
  settings.gradle.kts
Owners: @YourGitHubUsername, @web-team

fix(build): add gradle wrapper and correct npm ci command
  .github/workflows/release-orchestration.yml
  .gradle/8.14.2/checksums/checksums.lock
  .gradle/8.14.2/checksums/md5-checksums.bin
  .gradle/8.14.2/checksums/sha1-checksums.bin
  .gradle/8.14.2/executionHistory/executionHistory.bin
  .gradle/8.14.2/executionHistory/executionHistory.lock
  .gradle/8.14.2/fileChanges/last-build.bin
  .gradle/8.14.2/fileHashes/fileHashes.bin
  .gradle/8.14.2/fileHashes/fileHashes.lock
  .gradle/8.14.2/gc.properties
  .gradle/buildOutputCleanup/buildOutputCleanup.lock
  .gradle/buildOutputCleanup/cache.properties
  .gradle/buildOutputCleanup/outputFiles.bin
  .gradle/file-system.probe
  .gradle/vcs-1/gc.properties
  build/reports/problems/problems-report.html
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  services/backup-engine/build.gradle.kts
Owners: @YourGitHubUsername, @backend-team

fix(build): resolve all compilation and toolchain errors
  .github/workflows/release-orchestration.yml
  services/backup-engine/build.gradle.kts
Owners: @YourGitHubUsername, @backend-team

fix(build): resolve all build, dependency, and toolchain errors
  .github/workflows/release-orchestration.yml
  apps/android/androidApp/build.gradle.kts
  apps/android/shared/build.gradle.kts
  services/backup-engine/build.gradle.kts
Owners: @YourGitHubUsername, @android-team, @backend-team

.github/CODEOWNERS:

# This file designates default owners for different parts of the codebase.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

* @YourGitHubUsername

/apps/android/ @android-team
/apps/web-dashboard/ @web-team
/services/ @backend-team
/module/ @kernel-team
/ml/ @ml-team
/infrastructure/ @devops-team
